@font-face {
  font-family: "Hussar";
    src: url("media/fonts/Hussar/HussarBoldWide-yqgd.otf");
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.carousel-indicators li{
    background-color: black;
}
.shake:hover {
  animation: tilt-n-move-shaking 0.15s infinite;
}
@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
.banner{
  color: red;
}
.msg{
  border: 2px solid rgba(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}